* {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options {
    margin: 0px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-areas: 
    "pl1_info pl2_info"
    "pl1 pl2";
    justify-content: center;
    column-gap: 60px;
    row-gap: 0px;
    font-family: monospace;
    font-size: 16px;
}

.pl1_info {
    grid-area: pl1_info;
    margin: auto;
}

.pl2_info {
    grid-area: pl2_info;
    margin: auto;
}

.pl1 {
    grid-area: pl1;
    display: inline-grid;
    grid-template-columns: repeat(11, 26px);
    grid-template-rows: repeat(11, 26px);
}

.pl2 {
    grid-area: pl2;
    display: inline-grid;
    grid-template-columns: repeat(11, 26px);
    grid-template-rows: repeat(11, 26px);
}
.coord {
    border: solid 1px rgba(0, 0, 0, 0.575);
    width: 25px;
    height: 25px;
    background-color: cadetblue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.coord:hover {
    background-color: aqua;
}

.coord_info {
    border-bottom: dashed 1px grey;
    border-right: dashed 1px grey;
    width: 25px;
    height: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0.5px;
}

.navs {
    background-color:grey;
}

.emp {
    color: cadetblue;
    background-color: lightgrey;
}

.emp:after {
    content: "\FE4C";
    display: grid;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}   

.mark::after {
    content: "\274c";
}

.escond {
    display: none;
}